NODE_ENV=development
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHANNEL_ID=
TELEGRAM_BOT_USERNAME=
ADMIN_TELEGRAM_ID=
ADMIN_TELEGRAM_IDS=
ADMIN_SESSION_SECRET=
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/kids_store?schema=public
DIRECT_URL=postgresql://postgres:postgres@localhost:5432/kids_store?schema=public
NEXT_PUBLIC_MINI_APP_URL=
NEXT_PUBLIC_ADMIN_URL=
MINI_APP_DEV_MODE=false
